.container{
    background-image: url("../gallery-bann.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
}
.inner_sec{
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 130px;
}
.inner_sec h1{
    /* position: absolute;
    top: 30%; */
    color: white;
    font-size: 90px;
    top: 45%;
    letter-spacing: 12px;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    text-shadow: -2px 0 24px #000;
}
.inner_sec img{
    margin: 0 auto;
    display: block;
    max-width:35%;
    height: auto;
    position: absolute;
    top: 300px;
    left: 200px;
}
.outer_sec img{
    margin: 0 auto;

    display: block;
    max-width: 100%;
    height: 400px;

    position: absolute;
    bottom: 0;
    right: 60px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.li{
    width: 32%;
    height: 226px;
    list-style: none;
    
   
}
.li img{
    width: 100%;
    height: 100%;
}
.fluid h3{
    font-size: 50px;
    color: #f40;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 110%;
    padding-top: 50px;
}
.nst,.last{
    height: 307px;
    overflow: hidden;

}
.last:hover .minst{
    background-size: 130%;
    transition: transform 0.3s ease; 
}
.nst:hover .tim{
    background-size: 130%;
     transition:  0.3s ease;
}
.minst,.tim{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.nst h4,.last h4{
    color: #fff;
    font-family: "Exo";
    letter-spacing: 1px;
    text-transform: uppercase;
    /* z-index: 999; */
    font-size: 26px;
    position: relative;
    text-align: center;

}


@media(min-width:992px) and (max-width:1280px) {
    .inner_sec h1{
        text-align: center;
        /* left: 50%; */
        font-size: 120px;
    }
    .inner_sec img{
        left: 0px;
    }
    /* .container{
        padding-right: 0px;
    } */
}


@media(min-width:768px) and (max-width:990px) {
    .outer_sec img{
        display: none;
    }
    .inner_sec h1{
        text-align: center;
        left: 50%;
        font-size: 120px;
    }
    .inner_sec img{
        left: 30%;
        top: 30%;
    }
}

@media(max-width:767px) {
    .container{
        background-image: url("../puneri-gallery-mob-banner-s11.jpg");
    }
    .inner_sec,.outer_sec{
        display: none;
    }
    .image{
        flex-direction: column;
    }
    .li{
        height: 244px;
        width: 100%;
    }
    .li img{
        height:100% !important;
        width: 100%;
    }
    }