@keyframes fadeInDownShort {
  
   0% {
     opacity: 0;
     transform: translateY(-20px);
   }
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }


.main{
    background-image: url(../../../assets/images/puneri-world-bg_S111.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 9;
    /* width: 100%; */
    height: 550px;
    overflow: hidden;
    margin-right: 0px !important ;
}


.img2{
    position: absolute;
    bottom: 0%;
    width: 800px;
    height: 105% !important;
    z-index: 1;
    animation: fadeInImage 3s;
    
}
.imgreplace{
    position: absolute;
    bottom: 0%;
    width: 800px;
    height: 105% !important;
    z-index: 1;
    animation: fadeInImage 3s;
    display: none;
}
.left{
    position: absolute;
    top: 2%;
    left: 4%;
    height:90%;
    animation:fadeInDownShort 5s;
    animation-fill-mode: both;
 
}

 .middle{
    position: absolute;
    bottom: -15% !important;
    left: 40%;
    /* z-index: 1; */
    transform: rotate(11deg);
    height:120%;
    animation: fadeInDownShort 3s;
    animation-fill-mode: both;
 }
 .right{
    position: absolute;
    left: 66%;
    /* top: 15%; */
    width: 330px;
    /* z-index: 99; */
    mix-blend-mode: screen;
    height:100%;
  

 }
 .h1{
    font-size: 110px !important;
    letter-spacing: 7px;
    margin: 0;
    color: #ff7500;
    margin-top: 150px;
    margin-right: 100px;

 }
 .h2{
    margin-top: -20% !important;
    margin-left: 7% !important;
    color: white;
    padding-bottom: 0px;
 }
 h2{
    position: relative;
    z-index: 10;
    font-weight: 600;
 }
 a{
    text-decoration: none;
 }
 .btnmain{
    float: right;
 }
 .mian{
   text-align: end;
 }
 .mian button{
    transform: skew(-15deg);
    border: 0;
    padding: 8px 30px;
    width: 280px;
    border-radius: 0;
    font-size: 20px;
    color: white;
    /* margin-top: -100px;
    margin-left: 50px !important; */
    background-image: linear-gradient(to right, #df3100 0, #ff7500 25%, white 50%, #ff7500 75%, #df3100 100%);
     background-size: 300% 100%;
    transition: all .4s ease-in-out;
    animation: none;
  
}
.mian button:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
 }


@keyframes fadeInDownShort {
    0% {
       opacity: 0;
       transition: all 0.3 ease-in-out;
       transform: scale(1.3);
       transform: translate(5px);
   }
   50% {
       opacity: 1;
       opacity: 0.8;
   }
   100%{
    transform: scale(1.3);
   }
}
@keyframes fadeInImage {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



@media screen and (min-width:991px) and (max-width:1280px) {
     .mian button{
        position: absolute;
        z-index: 1;
        bottom: 20%;
        margin-bottom: 40px;
     }
     .main .img2{
        display: none;
     }
     .main .imgreplace{
      display: inline-block;
      left: -7px;
    width: auto;
     }
     .h1,.h2{
        font-size: 80px !important ;
     }
}

/* tablet */
@media(min-width:768px) and (max-width:990px) {
    .main .img2{
        display: none;
     }
     .main .imgreplace{
      display: inline-block;
      left: -7px;
    width: auto;
     }
     .main{
        height: 397px;
     }
     .h1{
        font-size: 80px !important;
        position:absolute;
        right: -82px;
        top: -48px;
     }
     .h2{
        font-size: 80px !important;
        position:absolute;
        right: 22px;
        top: 331px;
     }
     .mian button{
        position: absolute;
        bottom: 50px;
        right: 10px;
        z-index: 1;
     }
     .right{
      width: 100%;
      
     }
}

@media (max-width:767px) {

    .main{
        width: 100%;
        height: 80vh;
        background-position: left;
    }
    .main img{
        height: 60%;

    }
    .main .img2{
    display: none;
     }
    .main .imgreplace{
    left: 41px;
    left: -13px;
    width: auto;
    height: 82% !important;
    display: inline-block;
    }

    .left{
        top: 15%;
        left: 2%;
    }
   .h1{
 
    margin: 0;
    margin-top: 125px;
    /* margin-right: -89px; */
    text-align: center;
    font-size: 70px !important;
   }
   .h2{
    font-size: 70px !important;
    margin-top: -23% !important;
    text-align: center;

   }
   .mian button{
      margin-left: 0 !important;
    position: absolute;
    z-index: 20;
    bottom: 0%;
    left: 6%;
    width:204px;
    margin-left: 15% !important;

 }
.btnmain{
   float: none;
   text-align: center;
}
.mian{
   text-align: center;
}
.right{
   display: none;
}

}




